<!DOCTYPE html>
<html>
<head>
 <title></title>
 <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
 <nav>
  <div class="logo">
   <h1>Optum</h1>
  </div>
  <div class="menu"> 
   

   <ul>
    <li class="active"><a href="">Home</a></li>
    <li><a routerLink="/Empoloyee" routerLinkActive="active">Employee's Info</a></li>
    <li><a routerLink="/AbouttUs" routerLinkActive="active">About Us</a></li>

  </ul>
  </div>
 </nav>
 <section>
  <div class="leftside"> 
  </div>
  <div class="rightside"> 
   <h1>Employee Data</h1>
   <p>  
    It is a Employee Data table along with their metadata and can perform various operations on there data   </p>
   <button>Welcome</button>
  </div>
  
 </section>

</header>


</body>
</html>
